h1{
  color: black;
  /* 8093F1*/
  font-family: "Courier New", monospace;
  font-size: 100px;
  letter-spacing: 30px;
  text-shadow:5px 5px #B388EB;
}


body{
  background-color: #F7AEF8;
}

img{
  width: 200px;
  height:300px;
  transition: width 0.5s ;
}

img:hover{
  width: 800px;
}
