h1{
  color: #84EBEF;
  font-family: "Courier New", monospace;
  font-size: 100px;
  letter-spacing: 30px;
  text-shadow:5px 5px #B388EB;
}


body{
  background-color: #F569A4;
}

img{
  width: 200px;
  height:300px;
  transition: width 0.5s ;
}

img:hover{
  width: 800px;
}


nav{
  list-style-type: none;
  width: 100%;
  background-color:#FDCBD4;
  position: fixed;
  top:0;
  left:0;
}

li a{
  color:#675BB5;
  text-decoration:none;
  float:left;
  padding:15px;
  text-align: center;
  transition: background-color 0.5s, color 0.5s;
}

li a:hover{
  background-color:white;
  color:#FB517E;
}
