h1{
  color: #8093F1;
  font-family: "Courier New", monospace;
  font-size: 100px;
  letter-spacing: 30px;
  text-shadow:5px 5px #B388EB;
}

h3{
  color: #72DDF7;
  font-size:50px;
  text-shadow: 3px 3px black;
  
}

body{
  background-color: #F7AEF8;
}
